aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiohttp-retry==2.9.1
aiosignal==1.3.2
alabaster==0.7.16
amqp==5.3.1
anyio==4.8.0
asgiref==3.7.2
attrs==24.3.0
autobahn==24.4.2
Automat==24.8.1
autopep8
babel==2.16.0
bidict==0.23.1
billiard==4.2.1
boto3==1.35.98
botocore==1.35.98
bump2version==0.5.11
celery==5.3.4
certifi==2024.12.14
cffi==1.17.1
channels==4.0.0
channels-redis==4.2.0
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
constantly==23.10.4
coverage==4.5.4
crispy-bootstrap5==2024.10
cryptography==43.0.0
daphne==4.1.2
deepdiff==7.0.1
distlib==0.3.9
dj-rest-auth==5.0.2
Django==4.2.7
django-allauth==0.63.3
django-cors-headers==4.3.1
django-crispy-forms==2.3
django-debug-toolbar==4.2.0
django-htmx==1.21.0
django-jinja==2.11.0
django-log-request-id==2.1.0
django-redis==5.4.0
django-simple-history==3.7.0
django-sms==0.7.0
djangorestframework==3.14.0
docutils==0.21.2
drf-yasg==1.21.7
entrypoints==0.3
et_xmlfile==2.0.0
fastapi==0.115.6
fernet==1.0.1
filelock==3.16.1
flake8
frappe-bench==5.22.3
frozenlist==1.5.0
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
honcho==2.0.0
htmx==0.0.0
httpcore==0.17.3
httptools==0.6.4
httpx==0.24.0
hyperlink==21.0.0
idna==3.10
ifaddr==0.2.0
imagesize==1.4.1
incremental==24.7.2
inflection==0.5.1
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
jmespath==1.0.1
Js2Py==0.74
kombu==5.4.2
markdown2==2.5.2
MarkupSafe==3.0.2
mccabe==0.6.1
msgpack==1.1.0
multidict==6.1.0
nicegui==2.9.1
numpy==2.2.1
openpyxl==3.1.5
ordered-set==4.1.0
orjson==3.10.14
packaging==24.2
pandas==2.2.3
Pillow==9.5.0
platformdirs==4.3.6
pluggy==0.13.1
prompt_toolkit==3.0.48
propcache==0.2.1
pscript==0.7.7
psycopg==3.1.13
psycopg-binary==3.1.13
psycopg-c==3.1.13
psycopg-pool==3.2.4
psycopg2==2.9.10
psycopg2-binary==2.9.9
py==1.11.0
pyaes==1.6.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle
pycparser==2.22
pycurl==7.45.4
pydantic==1.10.20
PyExecJS==1.5.1
pyflakes==2.1.1
Pygments==2.19.1
pyjsparser==2.7.1
PyJWT==2.8.0
pyOpenSSL==24.3.0
pytest==6.2.4
python-crontab==2.6.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-engineio==4.11.2
python-magic==0.4.27
python-multipart==0.0.20
python-socketio==5.12.1
pytz==2024.2
PyYAML==6.0.2
redis==4.6.0
requests==2.32.3
s3transfer==0.10.4
semantic-version==2.8.5
service-identity==24.2.0
setuptools==75.8.0
simple-websocket==1.1.0
six==1.17.0
slippers==0.6.2
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
Sphinx==1.8.5
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-websupport==1.2.4
SQLAlchemy==2.0.35
sqlparse==0.4.4
starlette==0.41.3
stripe==7.5.0
toml==0.10.2
tox==3.14.0
twilio==9.1.0
Twisted==24.11.0
txaio==23.1.1
typeguard==2.13.3
typing_extensions==4.8.0
tzdata==2024.2
tzlocal==5.2
uritemplate==4.1.1
urllib3==2.3.0
uuid==1.30
uvicorn==0.32.1
uvloop==0.21.0
vbuild==0.8.2
vine==5.1.0
virtualenv==20.28.1
watchdog==6.0.0
watchfiles==1.0.4
wcwidth==0.2.13
websockets==14.1
wheel==0.45.1
whitenoise==6.8.2
wsproto==1.2.0
xlrd==2.0.1
xlwings==0.33.6
yarl==1.18.3
zope.interface==7.2
